/*
  *******************
  * WEBD Final Project - css file
  * Name:     Mark Woods
  * Date:     March 12, 2020
*/

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

html{
  background-color: darkslategray;
  padding: none;
  margin: none;
}

body{
  background-color: white;
  width: 90%;
  margin: auto;
}

#alert{
  background-color: yellow;
}

#topnav{
  list-style: none;
  display: flex;
  flex-direction: row;
}