/*
  *******************
  * WEBD Final Project - css file
  * Name:     Mark Woods
  * Date:     March 12, 2020
*/

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

html{
  background-color: darkslategray;
  padding: none;
  margin: none;
}

body{
  background-color: white;
  width: 90%;
  margin: auto;
}

#alert{
  background-color: yellow;
}

#topnav{
  list-style: none;
  display: flex;
  flex-direction: row;
}

#commentform #commentusername{
  margin-left: 33px;
  margin-bottom: 10px;
}

#comment{
  border: 2px solid black;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 200px;
}

#fighterlist, #eventlist{
  width: 200px;
}

#titleline{
  width: 40%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}